<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<div class="bg py-2">
    <div class="container">
        <div class="mg-x-5">
            <h4 class="subTitle text-center"><a href="#" class="text-white">Las funcionalidades de Tableau Server Management garantizan escalabilidad, disponibilidad, capacidad de administración y seguridad para simplificar los procesos de administración. Satisfaga sus requisitos específicos de implementación y configuración. Aproveche la experiencia y las inversiones en tecnología existentes, y optimice su entorno para alcanzar un verdadero análisis de autoservicio escalable.</a></h4>
        </div>
    </div>
</div>


<div class="container mg-y-5">
    
    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/OrderFact_Catalog_Lineage.png" alt="..">
                <h2 class="title text-blue text-center">Brinde datos de alta calidad con Tableau Catalog</h2>
                <h4 class="text text-left">Tableau Catalog, el catálogo de análisis nativo, brinda una vista completa de las fuentes y los activos de datos. Además, lo ayuda a comprender la dependencia de los datos y proporciona metadatos en contexto para un descubrimiento más rápido. Con el objetivo de ayudar a mejorar la toma de decisiones, se comparten detalles de los datos, incluidas las advertencias de calidad, justo donde se consumen.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/NEW UI_Prep Conductor_Scheduled Tasks.jpg" alt="..">
                <h2 class="title text-blue text-center">Mantenga los datos actualizadas con Tableau Prep Conductor</h2>
                <h4 class="text text-left">Tableau Prep Conductor crea un entorno con datos preparados y listos para usar, disponibles para todos. Automatice cómo programa, supervisa y administra flujos de datos para siempre tener datos actualizados disponibles para el análisis.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/vconn7_password.gif" alt="..">
                <h2 class="title text-blue text-center">Rediseñe la gobernanza de datos con las conexiones virtuales</h2>
                <h4 class="text text-left">Las conexiones virtuales son la clave para compartir datos seguros fácilmente en Tableau. Mejore los datos a lo largo de todo el ciclo de vida con políticas coherentes para todos los usos. De esta manera podrá asegurarse de que se comporten cómo usted quiere, en especial en el caso de los datos confidenciales.</h4>
            </div>
        
        </div>
    
    </div>
</div>

<app-footer></app-footer>