<header [ngStyle]="{'top': showNavbar()}">
    
    <!-- Navbar -->
    <nav class="d-flex navbar" [class]="changeNavbar()">
        
        <!-- !Nav-toggle -->
        <input type="checkbox" id="nav-toggle">  <!-- [(ngModel)]="checked" name="checkbox" (ngModelChange)="noScroll()"-->
        
        <!-- Logo -->
        <div class="logo">
            <a href="#" class="text-decoration">Turing IA</a>
        </div>
        
        
        <div class="menu-overlay">
            
            <!-- Links navbar -->
            <ul class="links">
                <li >
                    <a href="#" class="text-decoration b-border">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="text-decoration b-border">Nosotros</a>
                </li>
                <li>
                    <a [routerLink]="['/services']" routerLinkActive="router-link-active"  class="text-decoration b-border">Servicios</a>
                    <!-- Dropdown -->
                    <!-- <ul>
                        <li>
                            <a href="#" class="text-decoration">Business Analyst</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Workshop</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Capacitación</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Venta de software</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Hardware</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Desarrollo de software</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration">Balanced Scorecard</a>
                        </li>
                    </ul> -->
                </li>

                <li>
                    <!-- dropdown -->
                    <a [routerLink]="['/tableau']" routerLinkActive="router-link-active"  class="text-decoration b-border">Tableau</a>
                    <ul>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-desktop']" >Desktop</a>
                        </li>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-prep']">Prep</a>
                        </li>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-cloud']">Cloud</a>
                        </li>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-server']">Server</a>
                        </li>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-server-management']">Server Management</a>
                        </li>
                        <li>
                            <a class="text-decoration" [routerLink]="['/t-data-management']">Data Management</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="text-decoration b-border">Portal</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" routerLinkActive="router-link-active"  class="text-decoration b-border">Blog</a>
                </li>
                <li>
                    <button (click)="scrollToContact()"  class="text-decoration b-border">Contacto</button>
                </li>
            </ul>
            
        </div>
        
        <!-- !Nav-toggle (Icon)-->
        <label for="nav-toggle" class="icon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>    
        </label>
        
        
    </nav>
    
    
    <!-- Contact -->
    <div>

    </div>

</header>