<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<div class="bg py-2">
    <div class="container">
        <div class="mg-x-5">
            <h1 class="title text-center text-white mg-0">Obtén Tableau Prep como parte de Tableau Creator</h1>
            <h4 class="subTitle text-center"><a href="#" class="text-white">Ver Ofertas y Precios</a></h4>
        </div>
    </div>
</div>

<div class="container mg-y-5">
    
    <div>
        <h1 class="title text-center">Análisis para todos y en cualquier lugar</h1>
        <div class="grid mg-y-3">
            
            <div>
                <h2 class="title text-blue text-center">Mejore la administración de su entorno de datos</h2>
                <h4 class="text text-center">Con Tableau Data Management, puede administrar mejor los datos dentro del entorno de análisis. De esa manera, se asegura de utilizar siempre datos confiables y actualizados para la toma de decisiones. Desde la preparación de datos con Tableau Prep Conductor, hasta la generación de catálogos, la búsqueda y la gobernanza con Tableau Catalog, Tableau Data Management Add-on lo ayudará a generar confianza en los datos. Como resultado, podrá acelerar la adopción del análisis de autoservicio.</h4>
                <a target="_blank" [routerLink]="['/t-data-management']" class="subTitle text-center text-blue">INFORMACIÓN ACERCA DE TABLEAU DATA MANAGEMENT</a>
            </div>
            <div>
                <img src="https://www.turing-ia.com/assets/img/complete_picture_of_data_full.png" alt="..">
            </div>
        </div>
    </div>

    <hr>


    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/server_dashboard_overview_3x3.png" alt="..">
                <h2 class="title text-blue text-center">Datos para todos (con responsabilidad)</h2>
                <h4 class="text text-left">Difunda el valor de los datos en toda su organización con Tableau Server. Permita a los miembros de su empresa explorar con libertad los datos en un entorno de confianza, sin limitarlos a preguntas predefinidas, asistentes o tipos de gráficos inflexibles. Quédese tranquilo sabiendo que sus datos y sus análisis son precisos y están gobernados y protegidos. Tableau es fácil de implementar, sencillo de escalar y muy confiable. Además, cuenta con una integración sólida. Por todo esto a las organizaciones de TI les encanta. Ya no es necesario elegir entre capacitar a la empresa o proteger los datos. Con Tableau, finalmente, puede hacer ambas cosas.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/server_ask_data_worksheets_gif_1.gif" alt="..">
                <h2 class="title text-blue text-center">Formular preguntas con lenguaje natural</h2>
                <h4 class="text text-left">Capacite a la organización para que pueda hacer preguntas sobre cualquier fuente de datos publicada mediante el lenguaje natural. Con Pregunte a los datos, puede escribir una pregunta y obtener respuestas en forma de una visualización. Detrás de escena, Pregunte a los datos utiliza algoritmos eficaces para generar perfiles, indexar fuentes de datos y optimizarlas automáticamente. Además, con nuestras funcionalidades integrales de creación web, resulta muy fácil agregar fuentes de datos adicionales o crear dashboards totalmente interactivos.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/explain_data_server.png" alt="..">
                <h2 class="title text-blue text-center">Explicaciones basadas en la inteligencia artificial para sus datos</h2>
                <h4 class="text text-left">Aproveche el poder de la inteligencia artificial para explicar los puntos de datos con un solo clic. Según los modelos estadísticos avanzados, Explique los datos lo ayuda a descubrir información que no hubiera encontrado de otra manera.</h4>
            </div>
        
        </div>
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/data-source-list_2.png" alt="..">
                <h2 class="title text-blue text-center">Todos sus datos</h2>
                <h4 class="text text-left">Conéctese a cualquier fuente de datos de manera segura, ya sea en las instalaciones físicas o en la nube. Publique y comparta sus fuentes de datos como conexiones en tiempo real o extracciones cifradas. Así, todos en la empresa podrán usarlas. Trabaje con fuentes de datos empresariales populares: cubos, Cloudera Hadoop, Oracle, AWS Redshift, Teradata, Microsoft SQL Server y muchas más. Utilice nuestro conector de datos web y nuestras API para acceder a cientos de fuentes de datos adicionales.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/server-data-source-usage.png" alt="..">
                <h2 class="title text-blue text-center">Gobernanza que capacita a la empresa</h2>
                <h4 class="text text-left">Gobernanza sin riesgos. Administre de manera centralizada todos sus metadatos y reglas de seguridad. Proporcione fuentes de datos compartidas y actualizadas a sus usuarios. Obtenga visibilidad del uso para optimizar su entorno. Alcance la combinación adecuada de flexibilidad y control de usuarios.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/visual_permissions2v2-optim.png" alt="..">
                <h2 class="title text-blue text-center">Seguridad a su manera</h2>
                <h4 class="text text-left">Ya sea que utilice Active Directory, Kerberos, OAuth u otro estándar, Tableau se integra sin dificultad en sus protocolos de seguridad actuales. Administre la autenticación a nivel de usuario y de grupo. Mantenga la seguridad de su base de datos con permisos de conexión de paso y filtrado de filas. Proteja el contenido y los usuarios con opciones de multiinquilino y control de permisos avanzado.</h4>
            </div>
        
        </div>
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/servercloud.png" alt="..">
                <h2 class="title text-blue text-center">Implementación flexible</h2>
                <h4 class="text text-left">Tanto si almacena datos en las instalaciones físicas como en la nube, Tableau Server se integra en su infraestructura de datos existente, con total flexibilidad. Para obtener el máximo control bajo la protección de su firewall, instale Tableau Server localmente en Windows o en Linux. Impleméntelo en la nube pública con AWS, Azure o Google Cloud Platform para aprovechar su inversión en la nube actual.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/superstore_forecast_creator_server.png" alt="..">
                <h2 class="title text-blue text-center">Capacitar a las organizaciones con datos</h2>
                <h4 class="text text-left">Con Tableau Server, todos los miembros de la organización pueden ver y comprender los datos, gracias a sus opciones diseñadas para todo tipo de usuarios. Esto incluye desde usuarios generales que buscan tomar decisiones basadas en los datos a partir de un dashboard publicado hasta fanáticos de los datos que desean usar la creación web para hacer nuevas preguntas a partir de fuentes de datos publicadas. También comprende a los fanáticos de los datos que crean visualizaciones y fuentes de datos y las comparten con el resto de la organización.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/servermanagement_0.png" alt="..">
                <h2 class="title text-blue text-center">Supervisión y administración eficaces</h2>
                <h4 class="text text-left">La plataforma de Tableau es fácil de implementar, adaptar y supervisar. Supervise y administre fácilmente el contenido, los usuarios, las licencias y el rendimiento. Administre permisos con rapidez para las fuentes de datos y el contenido, y supervise el uso de manera visual. En las implementaciones de gran tamaño, el complemento Tableau Server Management Add-on proporciona beneficios adicionales de supervisión, administración y escalabilidad.</h4>
            </div>
        
        </div>


    </div>



</div>

<app-footer></app-footer>