<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<div class="bg py-2">
    <div class="container">
        <div class="mg-x-5">
            <h1 class="title text-center text-white mg-0">Obtén Tableau Desktop como parte de Tableau Creator</h1>
            <h4 class="subTitle text-center"><a href="#" class="text-white">Ver Ofertas y Precios</a></h4>
        </div>
    </div>
</div>

<div class="container mg-y-5">
    <div class="grid mg-b">
        <div>
            <h2 class="title text-blue text-center">Obtenga información útil rápidamente</h2>
            <h4 class="text text-left">Olvídese de los creadores de gráficos. Con el análisis visual en tiempo real, la exploración de datos no conoce límites. Los dashboards interactivos lo ayudan a descubrir información oculta al instante. Tableau aprovecha la capacidad natural de las personas para detectar patrones visuales rápidamente. Permite descubrir oportunidades y experimentar momentos reveladores todos los días.</h4>
            <a target="_blank" href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm" class="btn">Descargar Prueba Gratuita</a>
        </div>
        <div>
            <div>
                <img class="img-shadow" src="https://www.turing-ia.com/assets/img/getinsightsfast.gif" alt="..">
            </div>
        </div>
    </div>
    <hr>

    <div class="grid mg-y-3">
        <div class="down">
            <img src="https://www.turing-ia.com/assets/img/data_section2_2_copy.png" alt="..">
        </div>
        <div>
            <h2 class="title text-blue text-center">Conéctese a más datos</h2>
            <h4 class="text text-left">Conéctese a los datos en las instalaciones físicas o en la nube. Tanto si se trata de big data, bases de datos SQL, hojas de cálculo o aplicaciones en la nube (como Google Analytics y Salesforce). Acceda a datos diversos y combínelos sin escribir código. Los usuarios avanzados pueden dinamizar, dividir y administrar metadatos para optimizar las fuentes de datos. El análisis comienza con los datos. Aproveche más los suyos con Tableau.</h4>
            <a target="_blank" href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm" class="btn">Descargar Prueba Gratuita</a>
        </div>
    </div>
    <hr>

    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/answer-deeper-questions.gif" alt="..">
                <h2 class="title text-blue text-center">Responda preguntas más profundas</h2>
                <h4 class="text text-left">Para hacer análisis excepcionales, no basta con un dashboard atractivo. Realice cálculos eficaces rápidamente a partir de datos existentes, arrastre y suelte líneas de referencia y pronósticos, y revise resúmenes estadísticos. Transmita su idea con análisis de tendencias, regresiones y correlaciones para alcanzar una comprensión estadística de eficacia probada. Haga nuevas preguntas, detecte tendencias, identifique oportunidades y tome decisiones basadas en los datos con confianza.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/maps2small.png" alt="..">
                <h2 class="title text-blue text-center">Ponga sus datos en el mapa</h2>
                <h4 class="text text-left">Responda el “dónde” y el “porqué”. Cree mapas interactivos automáticamente. Los códigos postales incorporados permiten un mapeo ultrarrápido para más de 50 países en todo el mundo. Utilice territorios y geocodificaciones personalizados para regiones específicas, como áreas de ventas. Diseñamos los mapas de Tableau específicamente para ayudarlo a destacar sus datos.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/story_1.png" alt="..">
                <h2 class="title text-blue text-center">Haga participar a todos</h2>
                <h4 class="text text-left">Reemplace las diapositivas estáticas con historias vivas. Permita que las exploren otras personas. Cree un relato atractivo para que sus colegas hagan sus propias preguntas y analicen visualizaciones interactivas con datos actualizados. Forme parte de una cultura de colaboración de datos. Extienda el impacto de su información.</h4>
            </div>
        
        </div>
    </div>
</div>

<app-footer></app-footer>