<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<div class="bg py-2">
    <div class="container">
        <div class="mg-x-5">
            <h1 class="title text-center text-white mg-0">Obtén Tableau Cloud</h1>
            <h4 class="subTitle text-center"><a href="#" class="text-white">Ver Ofertas y Precios</a></h4>
        </div>
    </div>
</div>

<div class="container mg-y-5">
    <div class="grid mg-b">
        <div>
            <h4 class="text text-left">Tableau Online ahora se llama Tableau Cloud Aproveche la solución basada en la nube de nivel empresarial totalmente hospedada de la principal plataforma de análisis del mundo. Se trata de una plataforma de autoservicio rápida, flexible y fácil de usar, diseñada para adaptarse a la arquitectura de su empresa. Además, optimiza la eficacia de los datos para que las personas tomen decisiones con más rapidez y confianza desde cualquier lugar. Prepare sus datos, cree, analice, colabore, publique y comparta en Tableau Cloud.</h4>
            <a target="_blank" href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm" class="btn">Descargar Prueba Gratuita</a>
        </div>
        <div>
            <div>
                <img class="img-shadow" src="https://www.turing-ia.com/assets/img/Products_Cloud_Intro.png" alt="..">
            </div>
        </div>
    </div>
    <hr>

    <div class="grid mg-y-3">
        <div class="down">
            <img src="https://www.turing-ia.com/assets/img/SuperstoreProduct.png" alt="..">
        </div>
        <div>
            <h2 class="title text-blue text-center">Tome decisiones más inteligentes más rápido</h2>
            <h4 class="text text-left">Adopte una toma de decisiones segura y aproveche la eficacia de sus datos con herramientas inteligentes como las historias con datos, Pregunte a los datos y Explique los datos. Ahorre tiempo y facilite el análisis para todos al agregar historias con datos, narraciones automatizadas y fáciles de entender, en sus dashboards. Explore y responda preguntas de negocios clave en lenguaje natural con Pregunte a los datos. Con Explique los datos, descubra el “por qué” detrás de la información basada en inteligencia artificial y continúe explorando sin límites. Aproveche el Blueprint (modelo) de Tableau para planear el proceso de adopción de los datos y convertirse en una organización basada en los datos.</h4>
        </div>
    </div>
    <hr>

    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/Products_Cloud_Workflow.png" alt="..">
                <h2 class="title text-blue text-center">Integre información basada en los datos donde trabaja</h2>
                <h4 class="text text-left">Pase de la información a la acción en el flujo de trabajo. Con Tableau para Slack, acceda a la sede digital para el análisis. Ponga los datos en el centro de cada conversación y obtenga información basada en los datos desde cualquier lugar. Descubra el análisis incorporado e integre sin problemas datos e información en sus productos y aplicaciones para equipar a los usuarios y clientes con información basada en los datos. Obtenga acceso a diferentes opciones para impulsar el análisis, como aceleradores, conectores y extensiones.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/Products_Cloud_Innovation.png" alt="..">
                <h2 class="title text-blue text-center">Crezca rápidamente con un análisis sencillo y seguro</h2>
                <h4 class="text text-left">Integre profundamente con la arquitectura de su empresa e impulse la transformación digital. Nunca más tendrá que configurar servidores, administrar actualizaciones de software o aumentar la capacidad del hardware. Ahorrará tiempo y dinero. Potencie el trabajo en equipo al descubrir, compartir, colaborar y explorar datos desde su dispositivo móvil, tableta o equipo en Tableau Cloud. Desarrolle y adapte el análisis clave fácilmente mientras mantiene el control de Tableau Cloud con la administración avanzada (próximamente). Con ella, disfrutará de escalabilidad ilimitada, optimizará la eficiencia y simplificará la seguridad.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/Products_Cloud_Secure.png" alt="..">
                <h2 class="title text-blue text-center">Aumente la confianza en los datos</h2>
                <h4 class="text text-left">La gobernanza, la visibilidad y el control centralizados garantizan que sus datos estén en las manos correctas con una administración de permisos y una autenticación sencillas y automatizadas. Aproveche el inicio de sesión único (SSO) o su proveedor de identidad. Supervise el uso en un único entorno para garantizar el cumplimiento de manera más eficiente. Descubra una infraestructura actualizada con los mejores estándares de certificación de seguridad disponibles, como SOCII e ISO. La solución integrada en la plataforma Tableau Data Management le permite ampliar el uso de datos confiables de una manera simple y repetible.</h4>
            </div>
        
        </div>
    </div>
</div>

<app-footer></app-footer>