<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>


<div class="container mg-y-5">
    
    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/SM_Explainer_0.png" alt="..">
                <h2 class="title text-blue text-center">Funcionalidad garantizada</h2>
                <h4 class="text text-left">Las funcionalidades de Tableau Server Management garantizan escalabilidad, disponibilidad, capacidad de administración y seguridad para simplificar los procesos de administración. Satisfaga sus requisitos específicos de implementación y configuración. Aproveche la experiencia y las inversiones en tecnología existentes, y optimice su entorno para alcanzar un verdadero análisis de autoservicio escalable.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/ResourceLimits.png" alt="..">
                <h2 class="title text-blue text-center">Aumente la disponibilidad y la escalabilidad</h2>
                <h4 class="text text-left">Mediante procesos externos, integre la implementación aún más con la arquitectura empresarial y los servicios en la nube. Así, podrá implementar y configurar según sus especificaciones. Satisfaga sus requisitos de recuperación ante desastres, reduzca el RTO y logre actualizaciones más rápidas con tiempos de generación de copias de seguridad y restauración más acelerados. De esa manera, siempre estará actualizado. Optimice los trabajos de suscripción y actualización de extracciones del procesador en segundo plano. Además, establezca límites para los recursos del procesador en segundo plano a fin de administrar mejor la carga de trabajo.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/screenshot2_0.png" alt="..">
                <h2 class="title text-blue text-center">Mejore la eficiencia operativa</h2>
                <h4 class="text text-left">Automatice las necesidades empresariales más complejas de supervisión y administración de contenido. Logre una mejor visibilidad a través de una supervisión optimizada basada en agentes con Tableau Resource Monitoring Tool. Además, reciba las notificaciones de incidentes directamente en Slack. Con Tableau Content Migration Tool, defina y programe planes de migración repetibles para la administración de contenido. Podrá administrar la migración de contenido entre proyectos, sitios o entornos de Tableau Server sin escribir una sola línea de código.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/IndependentGateway_0.png" alt="..">
                <h2 class="title text-blue text-center">Mejore la seguridad</h2>
                <h4 class="text text-left">Instale el proceso de puerta de enlace fuera de Tableau Server o en su DMZ. Configure un servidor proxy inverso totalmente compatible con Tableau Server y un equilibrador de carga para mayor seguridad y escalabilidad. Simplifique la administración de claves. Centralice sus claves en la nube para un cifrado de extracciones en reposo que cumpla con las políticas de seguridad de su organización.</h4>
            </div>
        
        </div>
    </div>
</div>

<app-footer></app-footer>