<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<!-- Main -->
<main class="container mg-y-5 ov-f">

    <section class="about">
        <div class="img">
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/nosotros.webp" alt="people">
        </div>
        <div>
            <h2 class="subTitle">¿QUIENES SOMOS?</h2>
            <h1 class="title">Turing IA, tu mejor opción</h1>
            <h4 class="text">Somos una Empresa de Analítica e Inteligencia de Negocios en México con presencia internacional, conformada por especialistas en proyectos de Business Analytics. Contamos con mas de 15 años de experiencia brindando soluciones innovadoras en más de 10 industrias y diferentes áreas funcionales.
                Contamos con los mejores Especialistas en Análisis Descriptivos, Predictivos y Prescriptivos, equipados con las certificaciones más importantes en el desarrollo de Análisis de Datos mediante Knowledge Discovery in Database (KDD)</h4>
        </div>
    </section>


    <!-- Methodologies -->
    <section class="text-center">
        <h2 class="subTitle">NUESTRAS METODOLOGÍAS</h2>
        <h4 class="text">Nuestros expertos están comprometidos en desarrollar proyectos respaldados por metodologías ágiles e innovadoras, que aseguran el éxito de nuestras soluciones de analítica.</h4>
        
        <div class="methodologies">
            <div class="methodologies_img">
                <img src="https://www.turing-ia.com/assets/img/pmi2%20(2).png" alt="">
            </div>
            <div class="methodologies_img">
                <img src="https://www.turing-ia.com/assets/img/tableau_blueprint%20(2).png" alt="">
            </div>
            <div class="methodologies_img">
                <img src="https://www.turing-ia.com/assets/img/scrum.png" alt="">
            </div>
            <div class="methodologies_img">
                <img src="https://www.turing-ia.com/assets/img/data-driven%20(2).jpg" alt="">
            </div>
            <div class="methodologies_img">
                <img src="https://www.turing-ia.com/assets/img/bi-3.png" alt="">
            </div>
        </div>
    
    </section>

    <!-- Bussines inteligente -->
    <section class="about mg-y-5 ov-f">
        
        <div class="text-center">
            <h1 class="title">BUSINESS INTELIGENTE</h1>
            <h2 class="subTitle">Ayudamos a la toma de decisiones en todos los niveles de la empresa</h2>
            <h4 class="text">Construimos e implementamos las soluciones que se ajusta a la medida de los retos actuales y futuros, de las organizaciones lideres en el mercado. <br>
                Nuestro objetivo es transformar tus datos en oportunidades de negocio. ayudamos a la toma de decisiones en todos los niveles de la empresa.
                Con nuestras soluciones seras capaz de identificar tendencias de mercado, potenciar los recursos de la empresa, y crear planes de acción anticipando errores y amenazas para tus estrategias corporativas.</h4>
        </div>

        <div class="bussiness">
            <div class="card">
                <img class="img-shadow" src="https://www.slalom.com/sites/default/files/2019-02/Three-people-talking-Image-and-cta-with-content-800x800.jpg" alt="">
            
                <div class="card-body">

                    <div class="card-body_content text-white img-shadow">
                        <div>
                            <h2 class="text">+ DE CLIENTES</h2>
                            <p class="text">150</p>
                        </div>
                        <div>
                            <h2 class="text">+ DE CLIENTES</h2>
                            <p class="text">500</p>
                        </div>
                        <div>
                            <h2 class="text">+ DE PROYECTOS</h2>
                            <p class="text">100</p>
                        </div>
                        <div>
                            <h2 class="text">+ DE SECTORES INDUSTRIALES</h2>
                            <p class="text">15</p>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </section>

    <!-- Certificates -->
    <section class="about certificates">
        <div class="img">
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/cer-pmi.jpg" alt="...">
        </div>
        <div>
            <h1 class="title">Certificados por el (PMI® e IPMA®)</h1>
            <h4 class="text">Profesionales con conocimientos y competencias acreditadas ante organismos nacionales (CONOCER) e internacionales (PMI® e IPMA®). - Aplicación e impacto inmediato en mejores prácticas para administrar proyectos dentro de las organizaciones. - Incremento en la capacidad para realizar más y mejores proyectos. - Líderes de equipos de trabajo altamente orientados a lograr los resultados que contribuyen a los objetivos estratégicos de la organización.</h4>
        </div>
    </section>

    <section class="about certificates">
        <div>
            <h1 class="title">Certificados por (Tableau Plataform®)</h1>
            <h4 class="text">Ayudamos en la toma de decisiones en todos los niveles de la empresa, comprender mejor los resultados de negocio, anticiparse a ellos, darles forma mediante la identificación de tendencias, modelos estadísticos, anomalías; analizarlos, comparar los casos “what-if” y predecir las amenazas, oportunidades potenciales, así como planificar, presupuestar y prever los recursos</h4>
        </div>
        <div class="down">
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/certificado.jpg" alt="...">
        </div>
    </section>


    <section class="about certificates">
        <div class="img">
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/scrumn.jfif" alt="...">
        </div>
        <div>
            <h1 class="title">SCRUM</h1>
            <h4 class="text">Profesionales con conocimientos y competencias acreditadas De todas las formas que existen para poder desarrollar software, únicamente de manera colaborativa es como se logra. Es por eso que aplicamos la metodología Scrum para llevar más allá tus objetivos</h4>
        </div>
    </section>

    <section class="about certificates">
        <div>
            <h1 class="title">Data Driven</h1>
            <h4 class="text">Tomamos decisiones estratégicas basadas en la interpretación y el análisis de datos. Es decir, se trata de ver la manera cómo se estructuran y organizan los datos con el fin de aplicarlos a su negocio y mejorar sus estrategias.</h4>
        </div>
        <div>
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/data-driven.jpg" alt="...">
        </div>
    </section>


    <section>
        <h2 class="subTitle mg-y-2">Nuestros socios de negocios</h2>
        <ngx-glide [perView]="4" [type]="'carousel'" [gap]="10" [showBullets]="false" [breakpoints]="{'768':{perView:2},'1200':{perView:3}}" [showArrows]="false" [autoplay]="2000">
            
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/tableau-partner.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/salesforce.jpg" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/dell.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/hp.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/redhat.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/microsoft.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/kaspersky.png" alt="logo"></div>
            <div class="carousel-img"><img src="https://www.turing-ia.com/assets/img/ibm.png" alt="logo"></div>
    
        </ngx-glide>
    </section>


</main>


<app-footer></app-footer>