<app-navbar [isShow]="isShow" [scrollValue]="scrollValue"></app-navbar>
<app-header></app-header>

<div class="bg py-2">
    <div class="container">
        <div class="mg-x-5">
            <h1 class="title text-center text-white mg-0">Obtén Tableau Prep como parte de Tableau Creator</h1>
            <h4 class="subTitle text-center"><a href="#" class="text-white">Ver Ofertas y Precios</a></h4>
        </div>
    </div>
</div>

<div class="container mg-y-5">
    <div class="grid mg-b">
        
        <div class="down">
            <img class="img-shadow" src="https://www.turing-ia.com/assets/img/publish_to_online.png" alt="..">
        </div>
        
        <div>
            <h2 class="title text-blue text-left">Preparación de datos de autoservicio</h2>
            <h4 class="text text-center">Tableau Prep cambia la forma tradicional de realizar la preparación de datos en una organización. Gracias a que proporciona una forma visual y directa de combinar, dar forma y limpiar los datos, Tableau Prep hace que sea más sencillo para los analistas y los usuarios corporativos iniciar sus análisis más rápidamente. Tableau Prep está compuesto por dos productos: Por un lado, Tableau Prep Builder, que se utiliza para crear los flujos de datos. Por otro lado, Tableau Prep Conductor, que permite programar, supervisar y administrar los flujos en toda la organización. Tableau Prep está compuesto por dos productos: Por un lado, Tableau Prep Builder, que se utiliza para crear los flujos de datos. Por otro lado, Tableau Prep Conductor, que permite programar, supervisar y administrar los flujos en toda la organización.</h4>
            <a target="_blank" href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm" class="btn">Descargar Prueba Gratuita</a>
        </div>
    </div>
    <hr>

    <div>
        <h1 class="title text-center">Tableau Prep Builder</h1>
        <h4 class="text text-blue text-center">Limpie, combine y dé forma a los datos para el análisis</h4>
        <div class="grid mg-y-3">
            
            <div>
                <h2 class="title text-blue text-center">Conéctese a más datos</h2>
                <h4 class="text text-center">Conéctese a los datos en las instalaciones físicas o en la nube. Tanto si se trata de big data, bases de datos SQL, hojas de cálculo o aplicaciones en la nube (como Google Analytics y Salesforce). Acceda a datos diversos y combínelos sin escribir código. Los usuarios avanzados pueden dinamizar, dividir y administrar metadatos para optimizar las fuentes de datos. El análisis comienza con los datos. Aproveche más los suyos con Tableau.</h4>
                <a target="_blank" href="https://partners.tableau.com/UserData//3459/Mailings/6e9795d2-6013-4575-b097-bbf0c7eee70b.htm" class="btn">Descargar Prueba Gratuita</a>
            </div>
            <div>
                <img src="https://www.turing-ia.com/assets/img/complete_picture_of_data_full.png" alt="..">
            </div>
        </div>
    </div>

    <hr>

    <div class="grid mg-y-3">
        <div class="down">
            <img src="https://www.turing-ia.com/assets/img/immediate-results-gif_cropped.gif" alt="">
        </div>
        <div>
            <h2 class="title text-blue text-center">Resultados inmediatos</h2>
            <h4 class="text text-center">Si desea editar un valor, puede seleccionarlo y modificarlo directamente. Cambie el tipo de unión de columnas y vea los resultados de inmediato. Con cada acción podrá comprobar al instante los cambios en los datos, incluso si se trata de millones de filas de datos. Con Tableau Prep Builder puede cambiar el orden de los pasos libremente y experimentar sin consecuencias.</h4>

        </div>
    </div>


    <div class="third-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/smart-gif_cropped.gif" alt="..">
                <h2 class="title text-blue text-center">Trabajo más rápido e inteligente</h2>
                <h4 class="text text-left">Reemplace las diapositivas estáticas con historias vivas. Permita que las exploren otras personas. Cree un relato atractivo para que sus colegas hagan sus propias preguntas y analicen visualizaciones interactivas con datos actualizados. Forme parte de una cultura de colaboración de datos. Extienda el impacto de su información.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/prep_0.png" alt="..">
                <h2 class="title text-blue text-center">Conéctese a más datos</h2>
                <h4 class="text text-left">Conéctese a los datos en las instalaciones físicas o en la nube, ya sea una base de datos o una hoja de cálculo. Acceda a datos diversos, combínelos y límpielos sin necesidad de escribir código. Tableau Prep Builder envía las operaciones a la base de datos de forma inteligente siempre que sea posible. De este modo, puede aprovechar las inversiones en bases de datos existentes para lograr un rendimiento de ejecución de los flujos más rápido.</h4>
            </div>
        
        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/stay_in_the_flow_cropped2.png" alt="..">
                <h2 class="title text-blue text-center">Manténgase en el flujo</h2>
                <h4 class="text text-left">Manténgase en el flujo del análisis. Abra sus resultados con Tableau Desktop o compártalos con otros mediante Tableau Server o Tableau Online con total facilidad. La capacidad de compartir datos más fácilmente reduce la fricción y ayuda a acortar la brecha entre la preparación de datos y el análisis. De esta manera, se logran mejores resultados en el negocio.</h4>
            </div>
        
        </div>
    </div>

    <div>
        <h1 class="title text-center">Tableau Prep Conductor</h1>
        <h4 class="text text-blue text-center">Programe, supervise y administre los flujos de datos</h4>
        <div class="grid mg-y-3">
            
            <div>
                <h2 class="title text-blue text-center">Comparta y ejecute los flujos de trabajo en el servidor</h2>
                <h4 class="text text-center">Con Tableau Prep Conductor, puede publicar y ejecutar flujos de trabajo fácilmente en su entorno de servidor. Comparta sus fuentes de datos de manera segura con Tableau Server o Tableau Online. Cree un entorno en el que todas las personas de su organización puedan trabajar con datos preparados y actualizados.</h4>
            </div>
            <div>
                <img src="https://www.turing-ia.com/assets/img/complete_picture_of_data_full.png" alt="..">
            </div>

        </div>
        <p class="subTitle text-center">Tableau Prep Conductor es parte de <a class="subTitle text-blue" [routerLink]="['/t-data-management']"> Tableau Data Management Add-on.</a></p>
    </div>
    <hr>

    <div class="two-content mg-y-5">
        <div class="col">

            <div>
                <img src="https://www.turing-ia.com/assets/img/prep_conductor_flow_scheduling-v2.png" alt="..">
                <h2 class="title text-blue text-center">Programe sus flujos de trabajo</h2>
                <h4 class="text text-left">Programe sus flujos de trabajo para que se ejecuten cuando los necesite, sin importar el momento del día. Automatice los procesos de preparación de datos a fin de contar siempre con datos actualizados, preparados y listos para el análisis.</h4>
            </div>

        </div>
        <div class="col">
            
            <div>
                <img src="https://www.turing-ia.com/assets/img/prep_conductor_run_history-v2.png" alt="..">
                <h2 class="title text-blue text-center">Conéctese a más datos</h2>
                <h4 class="text text-left">Supervise los flujos de trabajo con las mismas herramientas que están disponibles en Tableau Server en la actualidad. Consulte la página de estado, use las vistas administrativas y ejecute el historial para ver el estado del flujo en todo el servidor. Así podrá solucionar todos los problemas que surjan rápidamente. Manténgase al tanto del estado de los flujos de trabajo con alertas proactivas.</h4>
            </div>
        
        </div>
    </div>

</div>

<app-footer></app-footer>